@page
@using Microsoft.Extensions.Localization
@using Lazy.Abp.AreaKit.Localization
@model Lazy.Abp.AreaKit.Web.Pages.AreaKit.IndexModel
@inject IStringLocalizer<AreaKitResource> L
@{
}
<h1>AreaKit</h1>
<p>@L["SamplePageMessage"]</p>
